body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#map{
    height: 70vh;
 }
 #question{
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 10vh;
     font-size: 4em;
     text-align: center;
 }
 .valider{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2em;
     padding: 5px 30px;
     border: none;
     background-color: lightgreen;
     color: green;
     border: 2px green solid;
     
 }
 #interface{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 20vh;
     background-color: lightgrey;
 }
 #valider, #continuer{
    height: 50px;
    width: 300px;
 }
 #valider{
     background-color: lightgreen;
 }

 #consigne, #resultat{
     font-size: 2em;
 }